<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ctingcter.chefquizlist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/choose_category"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".GameModeActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignInActivity"
            android:theme="@style/AppTheme"
            android:label="@string/signin"
            android:parentActivityName=".GameModeActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NationsActivity" />
        </activity>

        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme"
            android:label="@string/sign_up"
            android:parentActivityName=".SignInActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NationsActivity" />
        </activity>

        <activity
        android:name=".ResultActivity"
        android:theme="@style/AppTheme"
        android:parentActivityName=".QuizCategoryActivity" >
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".GameModeActivity" />
    </activity>

        <activity
            android:name=".NationsActivity"
            android:theme="@style/AppTheme"
            android:label="@string/chefsquiz"
            android:screenOrientation="portrait"
            android:parentActivityName=".GameModeActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NationsActivity" />
        </activity>

        <activity
            android:name=".ChefsActivity"
            android:label="@string/chefsquiz"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:parentActivityName=".GameModeActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NationsActivity" />
        </activity>

        <activity
            android:label="@string/chefsquiz"
            android:name="FoodsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:parentActivityName=".GameModeActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NationsActivity" />
        </activity>

        <activity
            android:name="MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/chefsquiz"
            android:theme="@style/AppTheme"
            android:parentActivityName=".GameModeActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NationsActivity" />
        </activity>

        <activity
            android:name=".QuizCategoryActivity"
            android:screenOrientation="portrait"
            android:label="@string/gamemode"
            android:theme="@style/AppTheme"
            android:parentActivityName=".GameModeActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NationsActivity" />
        </activity>
    </application>

</manifest>